		{% extends 'base.html' %}
		{% block sect %}
		<section class="sub-header4">
		{% endblock %}

		{% block head %}<h1>Services</h1>{% endblock %}


<!---Services--->
{% block content %}
<section class="services">

	<h1>Our Services</h1>
	<p>Hello and Welcome to Keije Safaris. <br>
		We offer a broad range of Services from ranging from tour scheduling, tour guiding, educative studies,
		and accomodation, to filmography and photography, Documentaries on Wild-life & history.
		Boat cuises, bungee jumping and everything bundled with in.<br>
		Choose <span>Keije Safaris </span>and <span>Witness your dream.</span></p>

	   <div class="row">

		       <div class="service-col">
			   <h3>Tour Guiding</h3>
               <p>
				Book a tour drive with us today and get a team of experienced drivers, tour guides, hosts, and 
				security personel to ensure that you have that dream vacation that you've been soul-seeking for.
			   </p></div>

			   <div class="service-col">
				<h3>Accomodation</h3>
				<p>
					Do you enjoy busking in the sun? Have you always dreamed of a summer on the beach or a forest bon-fire? Camping?
					Keije Safaris brings you an array of options that suit your taste best. An array of tropical dishes and the best hangouts.
					 Book with us today to secure Your comfort.
				</p></div>

				<div class="service-col">
			   <h3>Travel Packages</h3>
               <p>
				Enjoy a thrilling experience coupled with a new learning curve and daily challenges for you to explore,
				Here at Keije Safaris we bring you experienced and flexible drivers and navigators to get you where you need to be.
				We have experienced sails men as well should you chose to explore the waters.Witness your dream.
			   </p></div>

	   </div>
	</section> 
									
	
	<section class="gallery">

		<div class = "container">

			<img src="{{url_for('static', filename='images/gallery/1.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/2.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/3.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/4.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/5.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/6.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/7.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/8.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/9.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/10.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/11.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/12.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/13.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/14.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/15.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/16.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/17.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/18.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/19.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/20.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/21.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/22.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/23.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/24.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/25.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/26.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/27.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/28.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/29.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/30.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/31.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/32.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/33.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/34.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/35.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/36.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/37.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/pexels-pixabay-53125.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/39.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/40.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/41.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/42.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/43.jpg')}}" alt="" > 
			<img src="{{url_for('static', filename='images/gallery/44.jpg')}}" alt="" > 

		   
   </div>

	</section>
	{% endblock %}
	
						

